__pycache__
env
cache
output
.conda
.venv

data/nantes_2015
data/lyon_2015
.vscode
.idea

config_local_*.yml

matsim-java
data_sources

*.csv
*.tex
*.xml

# sphinx build files
docs/_build

.sif

*.via
